/.vscode/
/.idea
/.archive/
/.datasets/
/.external/
/modules/cum/build/
/modules/cum/bindings/python/dist
/modules/cum/bindings/python/src/cumpy.egg-info
/build/
thirdparty/*
thirdparty/Easy3D
thirdparty/imgui
thirdparty/matplotplusplus
thirdparty/rapidcsv
thirdparty/Catch2
*.ipynb
.*